$main-color-one: #feb942;
$main-color-two: #29292b;
$main-font-color-one: #8f8f8f;
$main-font-color-two: #fff;
$border-radius-numeration: 50%;
$border-radius-contacts: 15px;
$text-uppercase: uppercase;
