@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import "_variables";
@import "_mixins";
@import "_header";
@import "_personal";
@import "_personal-header";
@import "_reference";
@import "_contacts";
@import "_photo";
@import "_contact-me";
@import "_pro-skills";
@import "_contacts-heading";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.body {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: repeat(4, auto);
  max-width: 935px;
  margin: 0 auto;
  box-shadow: 10px 19px 19px 2px rgba(0, 0, 0, 0.75);
}

@media (max-width: 934px) {
  .body {
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);
    box-shadow: none;
    max-width: 100%;
  }
}
